@tailwind base;
@tailwind components;
@tailwind utilities;

/* underline font-semibold bg-stone-900 mr-4 bg-opacity-50 text-xl pl-4 */

.inputLabel {
  font-weight: 600;
  background-color: #444;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-left: 1rem;
}

.input {
  color: #000;
  padding-left: 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 0.375rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 80%);
  border-radius: 0.5rem;
}

.cardTitle {
  padding: 0.5rem 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  border-bottom-width: 4px;
  border-color: rgb(56 189 248);
}

.button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.15rem solid #fff ;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  height: fit-content;
  width: fit-content;
  background-color: #0284c7;
}